body{
    font-family:Arial, Helvetica,"lucida grande" sans-serif ;
}
.titulo{
    color: #3d3d3d;
    background-color: #e1e1e1;
}

h2{
    border-bottom-width: 1px;
}

figure{
    text-align: center;
    border: width 1px;
    border-color: solid lightgray;
    background-color: whitesmoke;
    background-image: ;
}